importFrom(ggm, isAcyclic,transClos,topOrder)
import(MASS, graph, Rgraphviz, robustbase)

export(randomDAG,
       wgtMatrix,
       rmvDAG,
       decHeur,
       pcAlgo,
       pcSelect,
       pcSelect.presel,
       zStat,
       condIndFisherZ,
       pcorOrder,
       compareGraphs,
       getNextSet,
       mcor,
       corGraph,
       make.edge.df,
       orderEdges,
       labelEdges,
       dag2cpdag,
       find.sink,
       adj.check,
       pdag2dag,
       amat2dag,
       udag2pdag,
       shd)

exportClasses("pcAlgo")

exportMethods("summary","show","plot")

